/**
 * The CSS specific to the banner rotating component.
 */
.dvp-carousel {
    border: 1px solid #F9F8F3;
    /*max-width: 610px !important;*/
    /*min-width: 340px !important;*/
    position: relative;
}

/* -------------------------------------- */
/* -------------- SLIDES ---------------- */
/* -------------------------------------- */
.dvp-carousel .dvp-carousel-slide {
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.dvp-carousel .dvp-carousel-slide-wrapper {
    background-color: black;
    height: 100%;
    width: 100%;
}

.dvp-carousel .dvp-carousel-slide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
}

.dvp-carousel .dvp-carousel-slide-linked {
    cursor: pointer;
    cursor: alias;
}

/* -------------------------------------- */
/* -------------- FOOTER ---------------- */
/* -------------------------------------- */
.dvp-carousel .dvp-carousel-footer {
    display: block;
    height: 0;
    position: relative;
    text-align: center;
}

.dvp-carousel .dvp-carousel-thumb-text {
    background-color: #EEE;
    
    /* experimental */
    background-image: -moz-linear-gradient(0deg, #F0F0F0, #D7D7D7);
    background-image: -ms-linear-gradient(0deg, #F0F0F0, #D7D7D7);
    background-image: -o-linear-gradient(0deg, #F0F0F0, #D7D7D7);
    background-image: -webkit-linear-gradient(0deg, #F0F0F0, #D7D7D7); 
    background-image: linear-gradient(0deg, #F0F0F0, #D7D7D7);
    
    bottom: 0;
    color: #333;
    font-size: 11px;
    height: 16px;
    margin: 3px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    width: 94px; /* = thumb-fg */
}

.dvp-carousel .text-only img {
    display: none;
    visibility: hidden;
}

.dvp-carousel .text-only .dvp-carousel-thumb-text {
    background: #FFF;
    background-image: none;
    height: 61px; /* = thumb-fg */
    top: 0;
}

.dvp-carousel .dvp-carousel-thumb-ct,
.dvp-carousel .text-only .dvp-carousel-thumb-ct {
    background: transparent;
    display: inline-block;
    padding: 4px 4px 0 4px;
    position: relative;
    z-index: 100;
}

.dvp-carousel .dvp-carousel-thumb-ct-pretty {
    background-color: #EEEBDA;
    /* experimental */
    /* 98E4FF */
    background-image: -moz-linear-gradient(0deg, #FFFFFF, #EEEBDA);
    background-image: -ms-linear-gradient(0deg, #FFFFFF, #EEEBDA);
    background-image: -o-linear-gradient(0deg, #FFFFFF, #EEEBDA);
    background-image: -webkit-linear-gradient(0deg, #FFFFFF, #EEEBDA); 
    background-image: linear-gradient(0deg, #FFFFFF, #EEEBDA);
}

.dvp-carousel .dvp-carousel-thumb-nav-prev,
.dvp-carousel .dvp-carousel-thumb-nav-next {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    cursor: pointer;
    display: inline-block;
    height: 0; 
    width: 0; 
}

.dvp-carousel .dvp-carousel-thumb-nav-prev {
    border-right: 5px solid #484848; 
    left: 0;
}

.dvp-carousel .dvp-carousel-thumb-nav-prev-over {
    border-right-color: #ED7700;
}

.dvp-carousel .dvp-carousel-thumb-nav-next {
    border-left: 5px solid #484848; 
}

.dvp-carousel .dvp-carousel-thumb-nav-next-over {
    border-left-color: #ED7700;
}

.dvp-carousel .dvp-carousel-thumb,
.dvp-carousel .dvp-carousel-hover {
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    position: relative;
    z-index: 1000;
}

.dvp-carousel .dvp-carousel-thumb-inner,
.dvp-carousel .dvp-carousel-hover-inner {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dvp-carousel .dvp-carousel-thumb-bg,
.dvp-carousel .dvp-carousel-hover-bg {
    border-radius: 4px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dvp-carousel .dvp-carousel-thumb-fg,
.dvp-carousel .dvp-carousel-hover-fg {
    left: 0;
    position: absolute;
    top: 0;
}

/* ----- SMALL ----- */
.dvp-carousel .footer-small {
    top: -27px;
}

.dvp-carousel .footer-small .dvp-carousel-thumb-ct-pretty {
    border-radius: 4px; /* 20px */
}

.dvp-carousel .footer-small .dvp-carousel-thumb {
    height: 16px;
    width: 16px;
}

.dvp-carousel .footer-small .dvp-carousel-thumb-fg {
    background: url(../images/carousel/bullet_black.gif) no-repeat;
    height: 16px;
    width: 16px;
}

.dvp-carousel .footer-small .dvp-carousel-thumb-active .dvp-carousel-thumb-fg {
    background: url(../images/carousel/bullet_orange.gif) no-repeat;
}

.dvp-carousel .footer-small .dvp-carousel-thumb-over .dvp-carousel-thumb-fg {
    background: url(../images/carousel/bullet_yellow.gif) no-repeat !important;
}
 
/* ----- LARGE ----- */
.dvp-carousel .footer-large {
    top: -75px; /* = thumb-ct.height */
}

.dvp-carousel .footer-large .dvp-carousel-thumb-ct {
    height: 75px; /* thumb.height + (thumb-ct.padding * 2) */
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.dvp-carousel .footer-large .dvp-carousel-thumb,
.dvp-carousel .dvp-carousel-hover {
    height: 67px;
    margin: 0 4px 4px 4px;
    vertical-align: middle;
    width: 100px;
}

.dvp-carousel .footer-large .dvp-carousel-thumb-bg,
.dvp-carousel .dvp-carousel-hover-bg {
    background-color: #FFF;
}

.dvp-carousel .footer-large .dvp-carousel-thumb-fg,
.dvp-carousel .dvp-carousel-hover-fg {
    height: 61px; /* thumb.height - (margin * 2) */
    margin: 3px;
    width: 94px; /* thumb.width - (margin * 2) */
}

.dvp-carousel .footer-large .dvp-carousel-thumb-active .dvp-carousel-thumb-bg {
    background-color: #CEC6BE;
}

.dvp-carousel .footer-large .dvp-carousel-thumb-over .dvp-carousel-thumb-bg {
    background-color: #424242 !important;
}

/* ----- HOVER ----- */
.dvp-carousel .dvp-carousel-hover {
    display: none;
}


/* -------------------------------------- */
/* -----------------TEXT----------------- */
/* -------------------------------------- */
.dvp-carousel .dvp-carousel-text,
.dvp-carousel .dvp-carousel-text-bg {
    color: #F9F8F3;
    font-size: large;
    padding: 10px 25px;
    position: absolute;
    z-index: 100;
}

.dvp-carousel .dvp-carousel-text-bg {
    background-color: #636361;
    color: transparent;
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99333333, endColorstr=#99DDDDDD); /* IE8 and earlier */
    /* These three lines are for transparency in all browsers. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity:.4;
    z-index: 1;
}

.dvp-carousel .dvp-carousel-text-tl {
    left: 0;
    top: 0;
    text-align: left;
    width: 80%;
}

.dvp-carousel .dvp-carousel-text-tc {
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
}

.dvp-carousel .dvp-carousel-text-tr {
    right: 0;
    top: 0;
    text-align: right;
    width: 80%;
}

.dvp-carousel .dvp-carousel-text-bl {
    bottom: 75px; /* large footer.top */
    left: 0;
    text-align: left;
    width: 80%;
}

.dvp-carousel .dvp-carousel-text-bc {
    bottom: 75px; /* large footer.top */
    left: 0;
    text-align: center;
    width: 100%;
}

.dvp-carousel .dvp-carousel-text-br {
    bottom: 75px; /* large footer.top */
    right: 0;
    text-align: right;
    width: 80%;
}

.dvp-carousel .dvp-carousel-text-c {
    text-align: center;
    top: 40%;
    width: 100%;
}

/* -------------------------------------- */
/* ----------------TIMER----------------- */
/* -------------------------------------- */
.dvp-carousel .dvp-carousel-timer {
    position: absolute;
    left: 0;
    top: -2px;
    z-index: 1;
}

/* -------------------------------------- */
/* ------------------NAV----------------- */
/* -------------------------------------- */
.dvp-carousel .dvp-carousel-nav-ct {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.dvp-carousel .dvp-carousel-nav,
.dvp-carousel .dvp-carousel-nav-bg {
    cursor: pointer;
    margin: 5px;
    position: absolute;
}

.dvp-carousel .dvp-carousel-nav {
    z-index: 100;
}

.dvp-carousel .dvp-carousel-nav-bg {
    z-index: 1;
}

.dvp-carousel .dvp-carousel-nav-prev,
.dvp-carousel .dvp-carousel-nav-next {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    height: 0; 
    width: 0; 
}

.dvp-carousel .dvp-carousel-nav-prev {
    border-right: 10px solid #484848; 
    left: 0;
}

.dvp-carousel .dvp-carousel-nav-prev-over {
    border-right-color: #ED7700;
}

.dvp-carousel .dvp-carousel-nav-next {
    border-left: 10px solid #484848; 
    right: 0;
}

.dvp-carousel .dvp-carousel-nav-next-over {
    border-left-color: #ED7700;
}

/* OLD */
.dvp-carousel .dvp-carousel-nav-prev-hor {
    background-position: -32px 0px;
    bottom: 50%;
    left: 0;
}

.dvp-carousel .dvp-carousel-nav-prev-hor-over {
    background-position: 0px 0px;
}

.dvp-carousel .dvp-carousel-nav-next-hor {
    background-position: -32px -32px;
    bottom: 50%;
    right: 0;
}

.dvp-carousel .dvp-carousel-nav-next-hor-over {
    background-position: 0px -32px;
}

.dvp-carousel .dvp-carousel-nav-prev-vert {
    background-position: -32px -64px;
    left: 0;
    top: 0;
}

.dvp-carousel .dvp-carousel-nav-prev-vert-over {
    background-position: 0px -64px;
}

.dvp-carousel .dvp-carousel-nav-next-vert {
    background-position: -32px -96px;
    bottom: 0;
    left: 0;
}

.dvp-carousel .dvp-carousel-nav-next-vert-over {
    background-position: 0px -96px;
}